.wap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: url(../glassesImage/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.wap .content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333333c7;
}
.wap .content p {
  padding: 20px;
  color: white;
  background-color: #333333e5;
}
.wap .content .glassesGroup {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.wap .content .glassesGroup .glass {
  position: relative;
  width: 160px;
  margin: 0 20px;
}
.wap .content .glassesGroup .glass .modalImg {
  height: auto;
  border-radius: 5px;
}
.wap .content .glassesGroup .glass .testGlass {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}
.wap .content .glassesGroup .glass .testGlass .img_v {
  width: 90px;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -28%);
}
.wap .content .glassesGroup .glass .testGlass .G_content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left;
  padding: 10px;
  background-color: rgba(250, 177, 60, 0.753);
}
.wap .content .glassesGroup .glass .testGlass .G_content .name {
  margin: 0;
  padding: 0;
  font-size: 0.7em;
  background-color: transparent;
  color: #ad8ae7;
  font-weight: 500;
}
.wap .content .glassesGroup .glass .testGlass .G_content .desc {
  margin: 0;
  padding: 0;
  font-size: 0.5em;
  background-color: transparent;
  color: black;
  text-align: justify;
}
.wap .content .listGlasses {
  margin: 20px auto;
  background-color: white;
  width: 80%;
  height: auto;
  display: flex;
  justify-content: baseline;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
}
.wap .content .listGlasses .item-g {
  width: 100px;
}
.wap .content .listGlasses .item-g:hover {
  cursor: pointer;
}
